body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.6;
    color: #333;
    background-color: #10131c;
}

h1 {
    margin-top: 30;
    font-size: 36px;
    color: white;
}

h2 {
    font-size: 24px;
    border-bottom: 3px solid #383c47;
    padding-bottom: 5px;
    color: white;
}

hr {
    margin-top: 25px;
    border: none;
    height: 3px;
    background-color: #383c47;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-text {
    margin-right: 20px;
}

.section {
    margin-bottom: 20px;
    background-color: #262a35;
    padding: 20px;
    border-radius: 20px;
    color: white;
    position: relative;
}

.section p {
    margin: 5px 0;
}

.contact-info{
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    gap: 20px; /* отступ */
}

.contact-info .info-container {
    width: 100%;
}

.contact-text {
    flex: 1;
}

.contact-photo {
    padding-top: 20px;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 18px;
    object-fit: cover;
}


a {
    color: #fff;
    text-decoration: none;
    background-color: #383c47;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
    margin-top: 10px;
}

a:hover {
    background-color: #33373f;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}


@media screen and (max-width: 600px) {
    .contact-info{
        flex-direction: column;
    }
}